approaches/adapter/language_adapters/xlora/
approaches/adapter/evaluation/*.log
approaches/CoLA/LLaMA-Factory/saves
approaches/CoLA/papers/further
approaches/CoLA/outputs/acl_smoke


__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyc
*.pyd
build/
dist/

.idea/
*.out
*.err
*.log
*.venv

**/wandb/

approaches/CoLA/data_prep/stratified_samples
approaches/CoLA/data_prep/onehot_benchmark_samples
approaches/CoLA/data_prep/llm_benchmark_samples


approaches/CoLA/data_prep/processed_artifacts/**.json
approaches/CoLA/data_prep/processed_artifacts/plots/*
approaches/CoLA/sample_data/logs/*
approaches/CoLA/data_prep/lang_cluster_analysis/lang2vec/