approaches/adapter/language_adapters/xlora/
approaches/adapter/evaluation/*.log
approaches/CoLA/LLaMA-Factory/saves
approaches/CoLA/papers/further


__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyc
*.pyd
build/
dist/

.idea/
*.out
*.err
*.log

**/wandb/
approaches/CoLA/sample_data/.venv
approaches/CoLA/sample_data/logs